.card {
  height: 260px;
  width: 260px;
  margin: 10px 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.img {
  height: 120px;
  width: 120px;
}

.card p {
  font-size: 18px;
  opacity: 0.5;
}